In [105]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns
from sklearn.cluster import KMeans 
from sklearn.metrics import silhouette_score
from sklearn.preprocessing import MinMaxScaler

In [106]:
iris = pd.read_csv("./IRIS.csv")
x = iris.iloc[:, [0, 1, 2, 3]].values

In [107]:
iris.info()
iris[0:10]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa
5           5.4          3.9           1.7          0.4  Iris-setosa
6           4.6          3.4           1.4          0.3  Iris-setosa
7           5.0          3.4           1.5          0.2  Iris-setosa
8           4.4          2.9           1.4          0.2  Iris-setosa
9           4.9          3.1           1.5          0.1  Iris-setosa

In [108]:
#Frequency distribution of species"
iris_outcome = pd.crosstab(index=iris["species"],  # Make a crosstab
                              columns="count")      # Name the count column

iris_outcome

col_0            count
species
Iris-setosa         50
Iris-versicolor     50
Iris-virginica      50

In [109]:
iris_setosa=iris.loc[iris["species"]=="Iris-setosa"]
iris_virginica=iris.loc[iris["species"]=="Iris-virginica"]
iris_versicolor=iris.loc[iris["species"]=="Iris-versicolor"]

In [111]:
iris_setosa=iris.loc[iris["species"]=="Iris-setosa"][0:4]
iris_setosa

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa

In [112]:
mean_sepal_length_setosa = iris_setosa['sepal_length'].mean()
mean_sepal_width_setosa = iris_setosa['sepal_width'].mean()
mean_petal_length_setosa = iris_setosa['petal_length'].mean()
mean_petal_width_setosa = iris_setosa['petal_width'].mean()

mean_values_setosa = {
    'sepal_length': mean_sepal_length_setosa,
    'sepal_width': mean_sepal_width_setosa,
    'petal_length': mean_petal_length_setosa,
    'petal_width': mean_petal_width_setosa
}

mean_values_setosa

{'sepal_length': 4.824999999999999,
 'sepal_width': 3.1999999999999997,
 'petal_length': 1.4,
 'petal_width': 0.2}

In [113]:
iris_versicolor=iris.loc[iris["species"]=="Iris-versicolor"][0:4]
iris_versicolor

    sepal_length  sepal_width  petal_length  petal_width          species
50           7.0          3.2           4.7          1.4  Iris-versicolor
51           6.4          3.2           4.5          1.5  Iris-versicolor
52           6.9          3.1           4.9          1.5  Iris-versicolor
53           5.5          2.3           4.0          1.3  Iris-versicolor

In [114]:
mean_sepal_length_versicolor = iris_versicolor['sepal_length'].mean()
mean_sepal_width_versicolor = iris_versicolor['sepal_width'].mean()
mean_petal_length_versicolor = iris_versicolor['petal_length'].mean()
mean_petal_width_versicolor = iris_versicolor['petal_width'].mean()

mean_values_versicolor = {
    'sepal_length': mean_sepal_length_versicolor,
    'sepal_width': mean_sepal_width_versicolor,
    'petal_length': mean_petal_length_versicolor,
    'petal_width': mean_petal_width_versicolor
}

mean_values_versicolor

{'sepal_length': 6.45,
 'sepal_width': 2.95,
 'petal_length': 4.525,
 'petal_width': 1.425}

In [115]:
iris_virginica=iris.loc[iris["species"]=="Iris-virginica"][0:4]
iris_virginica

     sepal_length  sepal_width  petal_length  petal_width         species
100           6.3          3.3           6.0          2.5  Iris-virginica
101           5.8          2.7           5.1          1.9  Iris-virginica
102           7.1          3.0           5.9          2.1  Iris-virginica
103           6.3          2.9           5.6          1.8  Iris-virginica

In [116]:
mean_sepal_length_virginica = iris_virginica['sepal_length'].mean()
mean_sepal_width_virginica = iris_virginica['sepal_width'].mean()
mean_petal_length_virginica = iris_virginica['petal_length'].mean()
mean_petal_width_virginica = iris_virginica['petal_width'].mean()

mean_values_virginica = {
    'sepal_length': mean_sepal_length_virginica,
    'sepal_width': mean_sepal_width_virginica,
    'petal_length': mean_petal_length_virginica,
    'petal_width': mean_petal_width_virginica
}

mean_values_virginica

{'sepal_length': 6.375,
 'sepal_width': 2.975,
 'petal_length': 5.65,
 'petal_width': 2.075}

In [117]:
simple1 = {'sepal_length' : 2.4,
           'sepal_width' : 3.9,
           'petal_length' : 1.7,
           'petal_width' : 0.4 }

simple2 = {'sepal_length' : 6.2,
              'sepal_width' : 2.2,
              'petal_length' : 4.5,
              'petal_width' : 1.5 }

simple3 = {'sepal_length' : 7.2,
                'sepal_width' : 3,
                'petal_length' : 5.8,
                'petal_width' : 1.6 }

In [118]:
import math
def euclidean_distance(data1, data2):
    distance = 0
    for key in data1:
        distance += (data1[key] - data2[key]) ** 2
    return math.sqrt(distance)
    

class1 = (euclidean_distance(simple1, mean_values_setosa))
class2 = (euclidean_distance(simple1, mean_values_versicolor))
class3 = (euclidean_distance(simple1, mean_values_virginica))

min_value, min_key = min([(class1, 'setosa'), (class2, 'versicolor'), (class3, 'virginica')], key=lambda x: x[0])
print("Minimum value:", min_value)
print("class:", min_key)

Minimum value: 2.5496323264345384
class: setosa

In [119]:
class1 = (euclidean_distance(simple2, mean_values_setosa))
class2 = (euclidean_distance(simple2, mean_values_versicolor))
class3 = (euclidean_distance(simple2, mean_values_virginica))

min_value, min_key = min([(class1, 'setosa'), (class2, 'versicolor'), (class3, 'virginica')], key=lambda x: x[0])
print("Minimum value:", min_value)
print("class:", min_key)

Minimum value: 0.7945124291035351
class: versicolor

In [120]:
class1 = (euclidean_distance(simple3, mean_values_setosa))
class2 = (euclidean_distance(simple3, mean_values_versicolor))
class3 = (euclidean_distance(simple3, mean_values_virginica))

min_value, min_key = min([(class1, 'setosa'), (class2, 'versicolor'), (class3, 'virginica')], key=lambda x: x[0])
print("Minimum value:", min_value)
print("class:", min_key)

Minimum value: 0.9640409742329421
class: virginica